<!DOCTYPE html>
<html>
{% include head.html %}
<body>

{% include header.html %}

<!-- Main -->
<div id="main" class="alt">
  <section id="one">
    <div class="inner">
      <header class="major">
        <h1>{{ page.title }}</h1>
      </header>

      {% assign filmes = site.filmes | sort: "title" %}
      <div class="films-grid">
        {% for filme in filmes %}
          <article class="film-card">
            <a href="{{ filme.url | relative_url }}" style="border-block: none;">
              {% if filme.press_photo %}
              <div class="thumb">
                <img src="{{ filme.press_photo | relative_url }}" alt="{{ filme.title | escape }}">
              </div>
                <!-- <div class="thumb" style="background-image:url('{{ filme.press_photo | relative_url }}')"></div> -->
              {% else %}
                <div class="thumb placeholder"></div>
              {% endif %}
              <h3>{{ filme.title }}</h3>
            </a>
            <p class="meta">
              {% if filme.year %}{{ filme.year }}{% endif %}
              {% if filme.runtime_str %} • {{ filme.runtime_str }}{% endif %}
            </p>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

{% include footer.html %}
</body>
</html>
