<!DOCTYPE html>
    {% include head.html %}
<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major" style="background-image: url({{ site.images_path }}{{ page.image }});">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p>{{ page.description }}</p>
                <p>
                <ul class="actions">
                    <li><a href="{{ '/inscricao/' | relative_url }}" class="button next scrolly">Inscreva seu filme!</a></li>
                </ul>
                </p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}


        <!-- Splitter -->
        <section class="major" style="background-image: url('{{ site.images_path }}lens_flare/FCD25_lensflare-red_2160x1920_35x150.png'); height: 300px; background-attachment: fixed; 
    background-position-x: center;">
        </section>

        <!-- Ficha Técnica -->
        <div class="inner">
            <div class="row">
                <div class="4u 12u$(medium)">
                    <p>Direção Artística / Coordenação Geral
                    <br><strong>Felipe Canêdo</strong>
                    </p>
                    <p>Coordenação Executiva
                    <br><strong>Luiz Malta</strong>
                    </p>

                    <p>Produção Executiva
                    <br><strong>Tamira Abreu</strong>
                    </p>

                </div>
                <div class="4u 12u$(medium)">

                    <p>Curadoria
                    <br><strong>Ana Julia Silvino</strong>
                    <br><strong>Gustavo Maan</strong>
                    <br><strong>Hannah Serrat</strong>
                    <br><strong>João Paulo Campos</strong>
                    </p>

                </div>
                <div class="4u$ 12u$(medium)">
                    <p>Design
                    <br><strong>Ana Kossoski</strong>
                    </p>

                    <p>Redes
                    <br><strong>Pedro Castro</strong>
                    </p>

                    <p>Assessoria de Imprensa 
                    <br><strong>Candida Canêdo</strong>
                    </p>

                    <p>Site
                    <br><strong>Sandro Miccoli</strong>
                    </p>
                </div>
            </div>
            
        </div>

    </div>

        
    

    {% include footer.html %}

</body>

</html>
